kubernets/.terraform/providers/registry.terraform.io/azure/azapi/1.13.1/windows_386/terraform-provider-azapi_v1.13.1.exe filter=lfs diff=lfs merge=lfs -text
kubernets/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.108.0/windows_386/terraform-provider-azurerm_v3.108.0_x5.exe filter=lfs diff=lfs merge=lfs -text
